body{
    font-family: Circular,Helvetica,Arial,sans-serif;
}

a{
    color: lightgreen;
    
}
h1, h2, h3, h4 {
	color: #FFF;
	font: 14px/19px  "Helvetica", "Arial", sans-serif;
}

li{
    margin-bottom: 200px;
}

footer{
    bottom: 0%;
    position:fixed;
}